.progress {
	overflow: visible !important;
	display: flex !important;
	justify-content: center;
	flex-wrap: wrap !important;
	text-align: center;
	background-color: transparent !important;
	gap: 10px;
	padding-left: 20px;

	&__choise-type {
		text-align: left;
		align-self: flex-start;
		flex: 0 0 300px;
	}

	&__select {
		height: 30px;
		width: 200px;
		border-radius: 10px;
		border: 1px solid grey;
		padding: 0 15px;
	}
}
.item {
	&__wrap {
		display: inline-block;
		position: relative;
	}

	&__input {
		-webkit-appearance: none;
		height: 20px;
		width: 300px;
		border-radius: 10px;
		border: 1px solid grey;
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
		}
	}
	&__input-span {
		position: absolute;
		font-weight: bold;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		&-more-75 {
			color: white;
		}
	}
	&__circle {
		height: 100px;
		width: 100px;
		border-radius: 50%;
		position: relative;
		border: 1px solid grey;
		&::after {
			content: "";
			position: absolute;
			width: 70px;
			height: 70px;
			top: 50%;
			transform: translate(-50%, -50%);
			left: 50%;
			border-radius: 50%;
			display: block;
			background-color: white;
			border: 1px solid grey;
		}

		&-span {
			position: absolute;
			z-index: 2;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: black;
			font-size: 16px;
			font-weight: bold;
		}
	}
}
