body {
  overflow-x: hidden;
}

.items__container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;

  h3 {
    text-align: center;
  }

  img {
    margin-top: 20px;
    max-width: 60%;
  }
  &-img{
    max-height: 300px;
  }
}
.breadcrumb-item + .breadcrumb-item::before {
  float: none !important;
}